@page "/"
@using EMS.Client.Components;
@using EMS.Shared.Models;

<div class="mb-4 px-2 pt-4 d-flex align-items-center justify-content-between gap-4">
	<button @onclick="@(() => ShowModal())" type="button">Add new employee</button>

	<div class="d-flex align-items-center gap-2">
		<TheSearch></TheSearch>
	</div>
</div>

<TheTable></TheTable>

